.value-gauge {
  position:relative;
  @include rem(width, 100px);
  @include rem(height, 50px);
  @include rem(border-radius, 50px 50px 0 0);
  background:$value-gauge-background-color;
  transition: background .3s;
  margin-left: auto;
  margin-right: auto;

  .frame {
    @include rem(height, 50px);
  }

  .pointer {
    @include rem(width, 4px);
    height:90%;
    @include rem(margin-left, -2px);
    position:absolute;
    z-index:1;
    bottom:0;
    left:50%;
    background: $value-gauge-pointer-background-color;
    @include rem(border-radius, 4px);
    box-shadow:1px 1px 3px rgba(0,0,0,.3);
    transition: transform .3s ease 0s;
    transform: rotate(-90deg);
    transform-origin: bottom;

    .pointer-cap {
      @include rem(width, 16px);
      @include rem(height, 16px);
      @include rem(margin-bottom, -8px);
      @include rem(margin-left, -8px);
      position:absolute;
      bottom:0;
      left:50%;
      background: $value-gauge-pointer-cap-background-color;
      border-radius:100%;
      box-shadow:1px 1px 5px rgba(0,0,0,.3);
    }

    .value {
      @include rem(width, 60px);
      @include rem(margin-left, -30px);
      position:absolute;
      @include rem(top, -25px);
      @include rem(font-size, 10px);
      text-align:center;
    }
  }

  .labels {
    width:100%;
    position:absolute;
    top:100%;
    @include rem(font-size, 10px);
    text-align:right;

    .min {
      float:left;
    }
  }
}

.value-gauge.exceeded {
  background: $value-gauge-background-color-exceeded;
  .value {
    color: $value-gauge-value-exceeded-color;
  }
}

.value-exceeded {
  width:100%;
  position:absolute;
  @include rem(top, 60px);
  @include rem(font-size, 11px);
  color: $value-gauge-value-exceeded-color;
  text-align:center;
}
