<div class="component-container">
    <div class="form">
        <div class="ui input">
            <label>Find</label>
          {{input type="text" value=textToFind}}
        </div>
        <button {{action "findText"}} type="button" class="btn btn-primary-outline">Find Word</button>

        <div class="ui input">
            <label>Replace</label>
          {{input type="text" value=textToReplace}}
        </div>
        <button {{action "replaceText"}} type="button" class="btn btn-primary-outline">Replace Word</button>
    </div>
    <p>This is some text to search for words. Enter a word to search for. Then click the Find Text button.
        Next, enter a word to replace that word with and click the Replace Text button.</p>
</div>
