<div class="container">
    <section class="row components-section">
        <h2>Components</h2>

        {{#each model as |componentListing|}}
            {{component-listing component=componentListing}}
        {{/each}}

    </section>
</div>
