<div class="container">
    <section id="components-section" class="row">
        <h2>Components</h2>

        {{#each model as |componentListing|}}
            {{component-listing component=componentListing}}
        {{/each}}
    </section>
</div>
