<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>
          Welcome to
          <span class="font-weight-bold logo-color">Ember</span>Components!
      </h1>
      <p class="lead">This is a library of Ember components.</p>
    </div>
</div>
