<section class="carousel-container">
    <div class="carousel">
        <figure>1</figure>
        <figure>2</figure>
        <figure>3</figure>
        <figure>4</figure>
        <figure>5</figure>
        <figure>6</figure>
        <figure>7</figure>
        <figure>8</figure>
        <figure>9</figure>
    </div>
</section>
<section class="options">
    <div class="navigation">
        <button {{action "previous"}} type="button" class="btn btn-primary btn-sm">Previous</button>
        <button {{action "next"}} type="button" class="btn btn-primary btn-sm">Next</button>
    </div>
</section>